<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="balance"  routerLinkActive="active">资金</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="history"  routerLinkActive="active">交易历史</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contacts"  routerLinkActive="active">联系人</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
