<div class="container">
    <div class="card-block">
        <h4 class="card-title">{{title}}</h4>
        <div align="center" *ngIf="loadingBalance">
            <img src="assets/img/ripplelogo.png" class="loading">{{loadingtip}}
        </div>
        <ul class="list-group">
            <li class="list-group-item justify-content-between" *ngFor="let balance of gv.wallet.balances">
                <h6><span class="badge badge-default" style="font-size: 1.0rem">{{balance.currency}}</span>.{{balance.counterparty}}</h6>
                <span class="badge badge-default" style="font-size: 1.0rem">{{balance.value|currency:balance.currency:true:'1.2-5'}}</span>
            </li>
        </ul>
    </div>
</div>
