<header>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" routerLink="/">Ripple钱包</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">首页 <span class="sr-only">(current)</span></a>
                </li>
                <ng-container *ngIf="gv.walletIsActive">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="walletinfo" [class.disabled]="!gv.wallet">钱包资金</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="send" [class.disabled]="!gv.wallet">转账付款</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="trade" [class.disabled]="!gv.wallet">交易市场</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="deposit" [class.disabled]="!gv.wallet">充值</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="withdraw" [class.disabled]="!gv.wallet">提现</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="trustlines" [class.disabled]="!gv.wallet">设置信任</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="advanced" [class.disabled]="!gv.wallet">高级</a>
                    </li>
                </ng-container>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <span class="badge badge-default" *ngIf="gv.wallet?.name">{{gv.wallet.name}}</span>
                <span class="badge" *ngIf="gv.wallet" [ngClass]="{'badge-success':gv.connected,'badge-default':!gv.connected}">{{gv.wallet.address}}</span>
                <span class="badge badge-default" *ngIf="gv.wallet?.isSecreted">P</span>
                <span class="badge badge-default" *ngIf="gv.wallet?.isLocked">L</span>
            </form>
        </div>
    </nav>
</header>
<div class="container-fluid main-container">
    <router-outlet></router-outlet>
</div>

<!-- 底部区域 -->
<footer class="navbar navbar-light bg-faded">
    <div class="container">
        <div class="row">
            <div class="col-md-12" align="center">Version {{version}}
                <a class="btn btn-large" href="https://github.com/lieefu/ripple-wallet" target="_blank"><i class="fa fa-github fa-1x"></i> View on GitHub  </a>
                 MyEmail: <a href="mailto:lieefu@gmail.com">lieefu@gmail.com</a>
                 网站: <a href="http://lieefu.com/ripplewallet" target="_blank">lieefu.com</a>
                <i class="fa fa-qq fa-1x"></i>群:56937187 微博<i class="fa fa-weibo fa-1x"></i>:<a href="http://weibo.com/207899158" target="_blank">瑞波支付</a>
            </div>
        </div>
    </div>
</footer>

<ng-template #alertcontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">发现新版本</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{msg}}</p>
    <p>当前版本{{version}},新版本{{newversion}}</p>
    <a href="{{url}}" target="_blank">{{url}}</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">知道了</button>
  </div>
</ng-template>
