.main-container {
    padding-top: 80px;
    min-height: 800px;
}

.footer {
    text-align: left;
    padding: 40px 48px;
    background: #263238;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    /*bottom: 0;*/
}
a.disabled {
   pointer-events: none;
   cursor: not-allowed;
}
