<ng-container *ngIf="haveTrustline">
    <div class="card" *ngIf="orderbook.base">
        <div class="card-block">
            <div class="row">
                <div class="col-md-6" style="border-right: 3px solid #cccccc;">
                    <div class="form-inline">
                        <div class="input-group col1" style="width:250px">
                            <div class="input-group-addon">购买({{orderbook.base.currency}})</div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" [(ngModel)]="buy_quantity" (focus)="focusAutoBuyValue(1,buy_quantity,buy_price,buy_totalPrice)">
                        </div>
                        <div class="input-group col1" style="width:150px">
                            <div class="input-group-addon">单价</div>
                            <input type="text" class="form-control" id="inlineFormInputGroup1" [(ngModel)]="buy_price" (focus)="focusAutoBuyValue(2,buy_quantity,buy_price,buy_totalPrice)">
                        </div>
                        <div class="input-group col">
                            <div class="input-group-addon">总价({{orderbook.counter.currency}})</div>
                            <input type="text" class="form-control" id="inlineFormInputGroup2" [(ngModel)]="buy_totalPrice" (focus)="focusAutoBuyValue(3,buy_quantity,buy_price,buy_totalPrice)">
                        </div>
                        <button type="submit" class="btn btn-success" (click)="addOrder('buy',buy_quantity,buy_totalPrice)">购买</button>
                    </div>
                </div>
                <div class="col-md-6" style="border-right: 3px solid #cccccc;">
                    <div class="form-inline">
                        <div class="input-group col1" style="width:250px">
                            <div class="input-group-addon">卖出({{orderbook.base.currency}})</div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" [(ngModel)]="sell_quantity" (focus)="focusAutoSellValue(1,sell_quantity,sell_price,sell_totalPrice)">
                        </div>
                        <div class="input-group col1" style="width:150px">
                            <div class="input-group-addon">单价</div>
                            <input type="text" class="form-control" id="inlineFormInputGroup1" [(ngModel)]="sell_price" (focus)="focusAutoSellValue(2,sell_quantity,sell_price,sell_totalPrice)">
                        </div>
                        <div class="input-group col">
                            <div class="input-group-addon">总价({{orderbook.counter.currency}})</div>
                            <input type="text" class="form-control" id="inlineFormInputGroup2" [(ngModel)]="sell_totalPrice" (focus)="focusAutoSellValue(3,sell_quantity,sell_price,sell_totalPrice)">
                        </div>
                        <button type="submit" class="btn btn-danger" (click)="addOrder('sell',sell_quantity,sell_totalPrice)">卖出</button>
                    </div>
                </div>
            </div>
            <div align="center" *ngIf="loadingAddorder">
                <img src="assets/img/ripplelogo.png" class="loading">正在提交交易挂单...
            </div>
            <div class="row">
                <div class="col-md-6" style="border-right: 3px solid #cccccc;">
                    <div class="alert" role="alert" *ngIf="buyTipinfo.isVisble" [ngClass]="buyTipinfo.class">
                        {{buyTipinfo.text}}
                    </div>
                </div>
                <div class="col-md-6" style="border-right: 3px solid #cccccc;">
                    <div class="alert" role="alert" *ngIf="sellTipinfo.isVisble" [ngClass]="sellTipinfo.class">
                        {{sellTipinfo.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center" *ngIf="loadingOrderbook">
        <img src="assets/img/ripplelogo.png" class="loading">加载交易挂单数据...
    </div>
    <div class="card" *ngIf="orderbook.base">
        <!-- <h6 class="card-title">交易对:{{orderbook.base.currency}}.{{orderbook.base.counterparty}}/{{orderbook.counter.currency}}.{{orderbook.counter.counterparty}}</h6> -->
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-info" id="dropdownTradepares" ngbDropdownToggle>交易对:{{orderbook.base.currency}}.{{orderbook.base.counterparty}}/{{orderbook.counter.currency}}.{{orderbook.counter.counterparty}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownCurrency">
                <button class="dropdown-item" *ngFor="let tradepare of gv.wallet.tradepares" (click)="parseTradepare(tradepare);">{{tradepare}}</button>
            </div>
        </div>
        <div class="card-block" style="padding-top: 0.0rem;">
            <div class="row">
                <div class="col-md-6" style="border-right: 3px solid #cccccc;">
                    <div class="row gridhead">
                        <div class="col-md-2">{{gv.lang==0?'Acount':'挂单人'}}</div>
                        <div class="col-md-2" style="text-align:right">{{orderbook.counter.currency}} {{gv.lang==0?'SUM':'合计'}}</div>
                        <div class="col-md-2" style="text-align:right">{{orderbook.base.currency}} {{gv.lang==0?'SUM':'合计'}}</div>
                        <div class="col-md-2" style="text-align:right">{{orderbook.counter.currency}} {{gv.lang==0?'SIZE':'量'}}</div>
                        <div class="col-md-2" style="text-align:right">{{orderbook.base.currency}} {{gv.lang==0?'SIZE':'量'}}</div>
                        <div class="col-md-2" style="text-align:center">{{gv.lang==0?'BID Price':'买价'}}</div>
                    </div>
                    <div class="row" *ngFor="let offer of bids,let index=index" [style.color]="offer.color" [class.odd]="index%2==0" [class.even]="index%2==1">
                        <div class="col-md-2" data-toggle="tooltip" data-placement="right" title="{{offer.address}}">
                            {{offer.address_short}}
                        </div>
                        <div class="col-md-2" style="text-align:right">{{offer.sum_money}}</div>
                        <div class="col-md-2" style="text-align:right">{{offer.sum_goods}}</div>
                        <div class="col-md-2" style="text-align:right">{{offer.money}}</div>
                        <div class="col-md-2" style="text-align:right">{{offer.goods}}</div>
                        <div class="col-md-2" style="text-align:center">{{offer.price}}</div>
                    </div>
                </div>
                <div class="col-md-6" style="border-right: 3px solid #cccccc;">
                    <div class="row gridhead">
                        <div class="col-md-2" style="text-align:center">{{gv.lang==0?'ASK Price':'卖价'}}</div>
                        <div class="col-md-2" style="text-align:right">{{orderbook.base.currency}} {{gv.lang==0?'SIZE':'量'}}</div>
                        <div class="col-md-2" style="text-align:right">{{orderbook.counter.currency}} {{gv.lang==0?'SIZE':'量'}}</div>
                        <div class="col-md-2" style="text-align:right">{{orderbook.base.currency}} {{gv.lang==0?'SUM':'合计'}}</div>
                        <div class="col-md-2" style="text-align:right">{{orderbook.counter.currency}} {{gv.lang==0?'SUM':'合计'}}</div>
                        <div class="col-md-2">{{gv.lang==0?'Acount':'挂单人'}}</div>
                    </div>
                    <div class="row" *ngFor="let offer of asks,let index=index" [style.color]="offer.color" [class.odd]="index%2==0" [class.even]="index%2==1">
                        <div class="col-md-2" style="text-align:center">{{offer.price}}</div>
                        <div class="col-md-2" style="text-align:right">{{offer.goods}}</div>
                        <div class="col-md-2" style="text-align:right">{{offer.money}}</div>
                        <div class="col-md-2" style="text-align:right">{{offer.sum_goods}}</div>
                        <div class="col-md-2" style="text-align:right">{{offer.sum_money}}</div>
                        <div class="col-md-2" data-toggle="tooltip" data-placement="left" title="{{offer.address}}">
                            {{offer.address_short}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block" style="padding-top: 0.0rem;">
            <div class="row">
                <div class="col-md-6" style="border-right: 3px solid #cccccc;">
                    <div class="row   gridhead">
                        <div class="col-md-4" style="text-align:left">
                            <div class="row">
                                <div class="col-md" style="text-align:left">我的买单</div>
                                <div class="col-md" style="text-align:right">买入量</div>
                            </div>
                        </div>
                        <div class="col-md-4" style="text-align:right">总价</div>
                        <div class="col-md-3" style="text-align:right">单价</div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row" *ngFor="let offer of buys,let index=index" [class.odd]="index%2==0" [class.even]="index%2==1">
                        <div class="col-md-4" style="text-align:right">{{offer.goods.value}} {{offer.goods.currency}}.{{offer.goods.counterparty_short}}</div>
                        <div class="col-md-4" style="text-align:right">{{offer.money.value}} {{offer.money.currency}}.{{offer.money.counterparty_short}}</div>
                        <div class="col-md-3" style="text-align:right">{{offer.price}} {{offer.money.currency}}/{{offer.goods.currency}}</div>
                        <div class="col-md-1"><button type="button" class="btn btn-link btn-sm" style="cursor:pointer" (click)="cancelOrder(offer.sequence)">撤单</button></div>
                    </div>
                </div>
                <div class="col-md-6" style="border-right: 3px solid #cccccc;">
                    <div class="row  gridhead">
                        <div class="col-md-4" style="text-align:left">
                            <div class="row">
                                <div class="col-md" style="text-align:left">我的卖单</div>
                                <div class="col-md" style="text-align:right">卖出量</div>
                            </div>
                        </div>
                        <div class="col-md-4" style="text-align:right">总价</div>
                        <div class="col-md-3" style="text-align:right">单价</div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row" *ngFor="let offer of sells,let index=index" [class.odd]="index%2==0" [class.even]="index%2==1">
                        <div class="col-md-4" style="text-align:right">{{offer.goods.value}} {{offer.goods.currency}}.{{offer.goods.counterparty_short}}</div>
                        <div class="col-md-4" style="text-align:right">{{offer.money.value}} {{offer.money.currency}}.{{offer.money.counterparty_short}}</div>
                        <div class="col-md-3" style="text-align:right">{{offer.price}} {{offer.money.currency}}/{{offer.goods.currency}}</div>
                        <div class="col-md-1"><button type="button" class="btn btn-link btn-sm" style="cursor:pointer" (click)="cancelOrder(offer.sequence)">撤单</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!haveTrustline">
    <div class="card">
        <div class="card-header">
            尚未信任网关，需要信任一家网关交易市场
        </div>
        <div class="card-block">
            <h4 class="card-title">网关，是Ripple支付网络内置去中心化交易市场</h4>
            <p class="card-text">国内，目前有两个人民币网关，点击下面按钮，选择一个网关作为自己的交易市场。</p>
            <button class="btn btn-primary" (click)="setGateway('rKiCet8SdvWxPXnAgYarFUXMh1zCPz432Y')">ripplefox.razqQKzJRdB4UxFPWf5NEpEG3WMkmwgcXA</button>
            <button class="btn btn-primary" (click)="setGateway('razqQKzJRdB4UxFPWf5NEpEG3WMkmwgcXA')">RippleChina.razqQKzJRdB4UxFPWf5NEpEG3WMkmwgcXA</button>
        </div>
    </div>
    <div  class="form-inline">
        <div class="alert" role="alert" *ngIf="tipinfo.isVisble" [ngClass]="tipinfo.class">
            {{tipinfo.text}}
        </div>
    </div>
</ng-container>
