<span *ngIf="!wallet">点击钱包随机生成器按钮一次，程序随机产生一个新钱包地址，点到满意钱包地址后，点击保存按钮，保存钱包文件</span>
<span *ngIf="wallet">钱包地址：{{wallet?.address}} 私钥：{{wallet?.seed}} </span>
<br><br>
<button class="btn btn-primary" (click)="createWallet()" [disabled]="isSave">钱包随机生成器</button>
<button class="btn btn-primary" (click)="saveWallet()" *ngIf="wallet">保存</button>
<br>
<span>{{tipinfo}}</span>
<a class="btn btn-lg btn-primary" role="button" routerLink="encryptwallet" *ngIf="isSave">加密钱包</a>
<router-outlet></router-outlet>
