<div class="container">
    <div class="form-group">
        <label for="recipient_label">接收方：</label>
        <input type="text" class="form-control" id="recipient_label" aria-describedby="recipientHelp" [formControl]="recipientInput" [(ngModel)]="recipient_label" placeholder="输入接收方钱包地址或者联系人名字"
         (focusout)="returnRecipient();">
        <small id="recipientHelp" class="form-text text-muted" *ngIf="isShowRecipientHelp">{{recipient_help}}</small>
    </div>
    <br>
    <div class="form-group" *ngIf="isShowAmount">
        <div class="form-group row">
            <div class="col-6" (click)="showTag=!showTag;showTagInfo=(showTag?'-':'+')" style="cursor:pointer;color:blue;font-size:12px">
                转账/付款 tag、invoice id和备注信息 <span>{{showTagInfo}}</span>
            </div>
        </div>
        <div class="form-group row" *ngIf="showTag">
            <div class="col-3">
                <input class="form-control" type="text" id="amount-value" [(ngModel)]="tag"  placeholder="destination tag">
            </div>
            <div class="col-3">
                <input class="form-control" type="text" id="amount-value" [(ngModel)]="invoiceID"  placeholder="invoice id">
            </div>
            <div class="col-6">
                <input class="form-control" type="text" id="amount-value" [(ngModel)]="memo"  placeholder="转账/付款 备注信息">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input class="form-control" type="text" id="amount-value" [(ngModel)]="amount_value" (focusout)="setValue(amount_value)" placeholder="转账/付款数量">
            </div>
            <div class="col-3">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-info" id="dropdownCurrency" ngbDropdownToggle>{{currency_label}}</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownCurrency">
                        <button class="dropdown-item" (click)="setCurrency('XRP','XRP- Ripples')">XRP - Ripples</button>
                        <button class="dropdown-item" *ngFor="let currency of currencies" (click)="setCurrency(currency);">{{currency.name}}.{{currency.issuer}}</button>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-primary" *ngIf="isShowSendXRPbtn" (click)="sendXRP(amount_value)">Send XRP</button>
            </div>
        </div>
        <div class="form-group row" *ngIf="tipinfo">
            <div class="col" style="color:gray">
                {{tipinfo}}
            </div>
        </div>
        <div class="form-group row" *ngIf="isShowPaths">
            <div class="col">
                <button type="button" class="btn btn-outline-primary"   *ngFor="let path of paths" style="cursor:pointer" (click)="sendIOU(path)">{{path.source.maxAmount.value}}<b>{{path.source.maxAmount.currency}}</b></button>
            </div>
        </div>
        <div class="form-group row" *ngIf="tipinfo_path">
            <div class="col" style="color:gray">
                {{tipinfo_path}}
            </div>
        </div>
    </div>
    <div class="form-group row" *ngIf="tipinfo_payment">
        <div class="col" style="color:gray">
            {{tipinfo_payment}}
        </div>
    </div>
    <div align="center" *ngIf="showloading">
        <img src="assets/img/ripplelogo.png" class="loading">{{loading}}...
    </div>
</div>
