<div class="form-group">
  <label for="seed">钱包私钥</label>
  <input type="text" class="form-control" id="seed" [(ngModel)]="seed" placeholder="录入或者粘贴钱包私钥" aria-describedby="helpBlock">
  <p id="helpBlock" class="form-text text-muted">
  拥有私钥就拥有钱包内财产支配权，因此私钥永不示人，以保障钱包安全。
</p>
<span *ngIf="wallet">钱包地址：{{wallet?.address}} 私钥：{{wallet?.seed}} </span>
<br>
<button class="btn btn-primary" (click)="importWallet()">导入</button>
<button class="btn btn-primary" (click)="saveWallet()" *ngIf="wallet">保存</button>
<br>
<span>{{tipinfo}}</span>
<a class="btn btn-lg btn-primary" role="button" routerLink="encryptwallet" *ngIf="isSave">加密钱包</a>
<router-outlet></router-outlet>
